@import "variables.less";

// Gruvbox Material Dark syntax highlighting theme for Rouge.
// Colors: https://github.com/sainnhe/gruvbox-material

.highlight,
pre.highlight {
  background: @surface-bg;
  color: @gray-dark;
}
.highlight pre {
  background: @surface-bg;
}
.highlight .hll {
  background: @surface-bg;
}
.highlight .c {
  color: @gm-grey1;
  font-style: italic;
}
.highlight .err {
  color: @gm-red;
  background-color: @gm-bg-diff-red;
}
.language-coq .highlight .err {
  // Hux: a temp workaround to fix for Coq math symbol
  // @see https://github.com/rouge-ruby/rouge/issues/1312
  &:extend(.highlight .k);
  background-color: transparent;
}
.highlight .k {
  color: @gm-red;
}
.highlight .l {
  color: @gm-purple;
}
.highlight .n {
  color: @gray-dark;
}
.highlight .o {
  color: @gray-dark;
}
.highlight .p {
  color: @gray-dark;
}
.highlight .cm {
  color: @gm-grey1;
  font-style: italic;
}
.highlight .cp {
  color: @gm-grey1;
  font-style: italic;
}
.highlight .c1 {
  color: @gm-grey1;
  font-style: italic;
}
.highlight .cs {
  color: @gm-grey1;
  font-style: italic;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: 700;
}
.highlight .kc {
  color: @gm-red;
}
.highlight .kd {
  color: @gm-red;
}
.highlight .kn {
  color: @gm-red;
}
.highlight .kp {
  color: @gm-red;
}
.highlight .kr {
  color: @gm-red;
}
.highlight .kt {
  color: @gm-yellow;
}
.highlight .ld {
  color: @gm-green;
}
.highlight .m {
  color: @gm-purple;
}
.highlight .s {
  color: @gm-green;
}
.highlight .na {
  color: @gm-yellow;
}
.highlight .nb {
  color: @gm-yellow;
}
.highlight .nc {
  color: @gm-yellow;
}
.highlight .no {
  color: @gm-yellow;
}
.highlight .nd {
  color: @gm-aqua;
}
.highlight .ni {
  color: @gm-yellow;
}
.highlight .ne {
  color: @gm-yellow;
}
.highlight .nf {
  color: @gm-blue;
}
.highlight .nl {
  color: @gm-yellow;
}
.highlight .nn {
  color: @gray-dark;
}
.highlight .nx {
  color: @gray-dark;
}
.highlight .py {
  color: @gm-yellow;
}
.highlight .nt {
  color: @gm-red;
}
.highlight .nv {
  color: @gm-yellow;
}
.highlight .ow {
  font-weight: 700;
}
.highlight .w {
  color: @gray-light;
}
.highlight .mf {
  color: @gm-purple;
}
.highlight .mh {
  color: @gm-purple;
}
.highlight .mi {
  color: @gm-purple;
}
.highlight .mo {
  color: @gm-purple;
}
.highlight .sb {
  color: @gm-green;
}
.highlight .sc {
  color: @gm-green;
}
.highlight .sd {
  color: @gm-green;
}
.highlight .s2 {
  color: @gm-green;
}
.highlight .se {
  color: @gm-green;
}
.highlight .sh {
  color: @gm-green;
}
.highlight .si {
  color: @gm-green;
}
.highlight .sx {
  color: @gm-green;
}
.highlight .sr {
  color: @gm-aqua;
}
.highlight .s1 {
  color: @gm-green;
}
.highlight .ss {
  color: @gm-aqua;
}
.highlight .bp {
  color: @gm-yellow;
}
.highlight .vc {
  color: @gm-yellow;
}
.highlight .vg {
  color: @gm-yellow;
}
.highlight .vi {
  color: @gm-red;
}
.highlight .il {
  color: @gm-purple;
}
.highlight .gu {
  color: @gm-grey0;
}
.highlight .gd {
  color: @gm-red;
}
.highlight .gi {
  color: @gm-green;
}

// Customize for Hux Blog
.highlighter-rouge .highlight {
  margin-bottom: 10px;
  border-radius: 6px;
  pre {
    font-size: 14px;
    line-height: 1.5;
    color: @gray-light;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    word-wrap: normal; // Safari Bug
  }
  .rouge-table {
    .rouge-gutter,
    .rouge-code {
      border: 0 !important;
    }
  }
  .rouge-code {
    pre {
      color: @gray-dark; // default color for nil-lang code
    }
  }
  .table-responsive {
    margin: 0px;
    border: 0px;
  }
  .table {
    margin: 0px;
    table-layout: fixed;
  }
  table > tbody > tr {
    > td {
      margin: 0;
      border: 0;
      padding: 0;
      > pre {
        padding: 14px;
      }
    }
  }
  td.rouge-gutter {
    width: 56px;
  }
  .lineno {
    text-align: right;
    // border-right: 1px solid #373434;
    border-radius: 0px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .highlighter-rouge .highlight {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0px;
    td.rouge-gutter {
      width: 36px;
    }
    table > tbody > tr > td > pre {
      padding: 14px 10px;
    }
  }
}
