---
layout: page
title: "Acerca de"
description: "daedalus"
header-img: "img/cat-home-bg.webp"
header-mask: 0.3
multilingual: true
mathjax: true
---

{% include multilingual-sel.html %}

<!-- Spanish Version -->
<div class="es post-container">
    {% capture about_es %}{% include about/es.md %}{% endcapture %}
    {{ about_es | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

